<form autocomplete="off" action="/interaction/<%= uid %>/signup" method="post">
	<% if (flash) { %>
			<p style="color: red;"><%= flash %> </p>
    <% } %>
    <input type="text" name="given_name" placeholder="Enter first name" autofocus="on">
    <input type="text" name="family_name" placeholder="Enter last name">
	<input type="text" name="email" placeholder="Enter email">
	<input type="password" name="password" placeholder="Enter password">
	<button type="submit" class="login login-submit">Sign-up</button>
	<button type="submit" name="cancel_signup" value="1" class="login login-submit">Sign-in Instead</button>
</form>